.pie-chart{
  &__legend{
    &-item{
      &-value{
        display: block;
        position: relative;
        color: var(--color_text_secondary);
        font-family: $font_main;
        font-size: $font_size_regular;

        &::after {
          content:' ' attr(data-name);
        }
      }
    }
  }
}
