&__more-link {
  display: block;
  width: 100%;
  color: var(--color_text_primary);
  text-decoration: none;
  font-weight: bold;
  font-size: $font_size_regular * 0.9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    text-decoration: underline;
  }
}
