/* ================================ */
/* Settings and Variables */
/* ================================ */

@import "../../config/variables.config";
@import "../../config/typography.config";
@import "../../config/mixins/mixins";

/* ================================ */
/* Component */
/* ================================ */
.select {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

// Toggle button styles
@import "__toggle/select__toggle";

// Dropdown styles
@import "__dropdown/select__dropdown";

// Options list style
@import "__options/select__options";

// Option styles
@import "__option/select__option";

// Show Modifier button
@import "--show/select--show";