// Typography - font families

$font_main: -apple-system, BlinkMacSystemFont, "DM Sans", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font_titles: -apple-system, BlinkMacSystemFont, "DM Sans", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// Typography - font sizes
$font_size_base: 13px;
$font_size_regular: 1em;
$font_size_titles: 2em;
$font_size_h2: 1.05em;
$font_size_counter_name: 0.8rem;


$font_lh: 1.3;
