
/* ======================= */
/* Base settings */
/* ======================= */

// Logo size
$logo_size: 3.6em;

// Layout
$border-radius: 25px;
$border-radius-sm: 15px;
$gap: 1em;

// Animation & transitions
$transition_function: cubic-bezier(0.4, 0, 0.2, 1);
$transition_duration: .4s;

