.search__icon {
  position: absolute;
  left: 0;
  top: 24%;
  padding-left: 1em;
  align-items: center;
  display: block;

  @include tablet_vert_screen(){
    top: 30%;
    padding-left: $font_size_regular * 1.3;
  }

  svg {
    width: $font_size_regular * 1.5;
    height: $font_size_regular * 1.5;
    color: var(--color_text_primary);
    fill: currentColor;
  }
}